POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=
CORS_ORIGINS=
YTDLP_PROXY=

# Email
RESEND_API_KEY=
RESEND_FROM=notifications@vexia.studio
APP_URL=https://vexia.studio
API_URL=https://orphee.olympe.center